@{
<<<<<<< HEAD
    ViewData["Title"] = "Hola compañeros del laboratorio 1"
    }
=======
    ViewData["Title"] = "Mensesaje desde la rama dev del 27 de septiembre"}
>>>>>>> Se cambio el titulo en la rama dev

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
